body{
    background-color: black;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    flex-direction: column;
    text-align: center;
    background-color: rgb(83, 112, 137);
    padding: 50px;
    border-radius: 50px;
    font-size: 40px;
}
#resposta{
    display: flex;
    flex-direction: column;
}

#perguntas div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    background-color: rgb(83, 112, 137);
    padding: 50px;
    border-radius: 50px;
    font-size: 40px;
    width: 1000px;
}
#perguntas p{
    grid-column: span 2;
    margin-right: 10px;
}

img{
    border-radius: 50%;
    width: 200px;
    height: auto;
}
input{
    width: auto;
    height: auto;
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: azure;
    font-size: 15px;
}
.escondido{
    display: none !important;
}
section{
    margin-top: 150px;
    margin-right: 300px;
    margin-left: 220px;
}
legend {
    display: flex;
}

p{
    display: block;
    margin-left: 50px;
    font-size: 30px;
}
#botoesResultado {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#botoesResultado button {
    background-color: darkslateblue;
    color: orange;
    border: 3px solid orange;
    border-radius: 15px;
    padding: 15px 35px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
}

#botoesResultado button:hover {
    background-color: orange;
    color: black;
    transform: scale(1.05);
}
