select{
    width:100%;
    padding:10px;

    background:#2b2f46;
    border:2px solid #c8a24c;

    color:white;
    font-family:inherit;
    font-size:25px;

    outline:none;
    text-align:center;

    appearance:none;          /* remove estilo padrão */
    -webkit-appearance:none;
    -moz-appearance:none;

    cursor:pointer;
}

.checkbox-group{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.checkbox-group input[type="checkbox"]{
    width:20px;
    height:20px;
    accent-color:#c8a24c; /* deixa dourado */
    cursor:pointer;
}

.checkbox-group label{
    font-size:22px;
    text-shadow:1px 1px 2px #000;
}