/* reset fontes e variaveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almendra', serif;
}

body {
    font-family: 'Almendra', serif;
    min-height: 100vh;
    margin: 0;
    width:100%;

    color:white;
    letter-spacing: 0.5px;

    background:
            linear-gradient(
                    180deg,
                    rgba(5,10,25,0.85) 0%,
                    rgba(5,10,25,0.95) 40%,
                    rgba(0,0,0,1) 100%
            ),
            url("../../assets/bg_prof.png");

    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.escondido{
    display: none;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0,0,0,0.3);
    border-bottom: 1px solid #d4af37;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    position: relative;
}

header .nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 35px;
    transition: 0.3s;
    text-shadow: 1px 1px 2px #000;
}
header form button{
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    transition: 0.7s ease;
}

header form{
    display: inline;
    margin-right: 35px;
}
header #atual{
    color: white;
}

header .nav-links button:hover {
    text-shadow:
            0 0 25px #ffc400,
            0 0 50px #ffc400,
            0 0 100px #ffc400;
}

header img{
    position: absolute;
    left: 40%;
    transform: translateX(-30%);
    margin-top: 80px;
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #d4af37);
    animation: flutuar 3s ease-in-out infinite;
}

#perfil {
    display: flex;

    width: 100%;
    max-width: 120px;
    padding: 8px 20px;
    border-radius: 50px;
    gap: 10px;

    font-size: 1rem;
    color: white;
    cursor: pointer;
    font-family: 'Almendra', serif;
    border: 2px solid #d4af37;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

#perfil svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}



form #perfil button:hover {
    background: rgba(212, 175, 55, 0.2);
    transform: scale(1.05);
}

form #perfil button svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: auto;
}

.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    width: 260px;
    transition: 0.3s;
    z-index: 200;
    background-color: rgba(5,10,25,0.95);
}

.sidebar form {
    width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px 0px;
}

.sidebar form #atual{
    color: white;
}

.sidebar button {
    width: 100%;
    height: auto;

    padding: 10px;
    font-size: 1rem;
    color: gray;
    background-color: var(--bg-casa);
}

.sidebar button:hover{
    color: white;
    box-shadow: drop-shadow(0 0 50px #d4af37);
}

.sidebar input {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    color: #a0aec0;
}

.sidebar input {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    margin-left: 10px;
    font-size: 1rem;
}

.sidebar input:hover {
    background-color: #1f253a;
    color: #ffffff;
}

/* main */

main {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: block;
    text-align: left;
}

main h1:first-of-type {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin-bottom: 10px;
}

main h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 60px;
}

/* div buscar-alunos */
#buscar-alunos {
    background: #1c2333;
    border: 2px solid #d4af37;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    max-height: 500px;
    padding: 20px;
    scrollbar-width: thin;
    scrollbar-color: #3c445c #232a3d;
}


.scroll-area {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}

.scroll-area::-webkit-scrollbar {
    width: 8px;
}

.scroll-area::-webkit-scrollbar-thumb {
    background: #2c3448;
    border-radius: 10px;
}

.scroll-area::-webkit-scrollbar-button{
    display: none;
    width: 0;
    height: 0;
}

#buscar-alunos h1 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 25px;
}

#searchbar {
    width: 90%;
    display: block;
    margin: 0 auto 30px auto;
    padding: 14px 18px;
    margin-bottom: 30px;
    background: #252B41;
    border: 2px solid #d4af37;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Almendra', serif;
    outline: none;
}

#searchbar::placeholder {
    color: rgba(127, 127, 127, 0.5);
}

#searchbar:focus {
    box-shadow: 0 0 10px #d4af37;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 15px auto;
    padding: 12px 18px;
    border: 2px solid #d4af37;
    margin-bottom: 15px;
    background: #2a3144;
    transition: 0.3s;
    cursor: pointer;
    overflow-x: scroll;
}

.barra:hover {
    background: #323a52;
    transform: scale(1.01);
}

.barra img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.barra span:nth-of-type(1) {
    flex: 1;
    font-size: 1.2rem;
}

.barra span:nth-last-child(-n+2) {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
}

.barra span:nth-of-type(2) {
    color: #B80A25;
}

.barra span:nth-of-type(3) {
    color: #1A754D;
}


/* Animação tremendo */

@keyframes tremer {
    0%   { transform: translate(0, 0); }
    20%  { transform: translate(-50px, 0); }
    40%  { transform: translate(1px, 0); }
    60%  { transform: translate(-50px, 0); }
    80%  { transform: translate(1px, 0); }
    100% { transform: translate(0, 0); }
}

.tremendo {
    animation: tremer 0.3s ease;
}



@keyframes flutuar {
    0% {
        transform: translateY(-2px) rotate(0deg);
    }

    50% {
        transform: translateY(+12px) rotate(1deg);
    }

    100% {
        transform: translateY(-2px) rotate(0deg);
    }
}

@media (max-width: 1000px){

    header img{
        left: 27%;
    }

    .col-n, .nav-links{
        display: none;
    }

    #boletim{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .col-materia{
        align-self: center;
    }

    #menu-sandwich{
        display: block !important;
        cursor: pointer;
    }

    .sidebar.aberta{
        left:0;
    }
}

@media (max-width: 700px) {
    header img{
        display: none;
    }
}